<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme"  content="light danger"/>
    <title>Admin</title>
</head>

<body>
<a href="/info">Info</a>

<form action="/info" method="post" align="center">
    <input type="text" name="name" placeholder="Enter your name"> <br> <br>
    <input type="text" name="lastname" placeholder="Enter your lastname"> <br> <br>
    <button type="submit">Submit</button>
</form>

</body>

</html>